@import "tailwindcss";

:root {
  --background: #e7e8ea;
  --foreground: #19395f;
  --dark-blue: #000000;
  --mid-blue: #19395f;
  --light-blue: #80acc9;
  --blue-highlight: #b6dfe8;
  --grey: #e7e8ea;
  --white: #ffffff;
  --primary: #19395f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
